copied/autoRoot.js
copied/basicHack.js
copied/buy_servers.js
copied/exp_farm.js
copied/gangAscend,js
copied/growTest,js
copied/hackV2.js
copied/infoHackSpeed.js
copied/lite_grow.js
copied/lite_hack.js
copied/lite_weaken.js
copied/prepareServer.js
copied/resetServers.js
copied/server_cost.js
copied/server_info.js
copied/test.js
copied/testHack.js
copied/upgradeServer.js
